canvas {

    border: 1px solid black;

    background-color: black;

    margin: 10px;

}



body {

    line-height: 1.6;

    padding-bottom: 400px;

    font-family: Arial, sans-serif;

    background-color: #f56600;

    color: #333;

    text-align: center;

    padding: 0;

    margin: 0;

}



h2 {

    font-weight: bold;

}



header {

    color: black;

    padding: 10px 10px 5px 10px;

    margin: 0px 0px 0px 40px;

    text-align: center;

    font-size: 40px;

}



.page-header {

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    margin-bottom: 20px;

}



.clemson-colors {

    background-color: #522D80;

    color: white;

}



.black-square {

    text-align: center;

}



#circleCount {

    border: 1px solid white;

    padding: 2px 5px;

    color: white;

}