body {
    background-color: #f56600;
    font-family: Arial, sans-serif;
    color: #FFF;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    color: black;
}

h1 {
    font-size: 2.4em;
    font-weight: normal;
    margin-bottom: 20px;
    color: #f56600;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    color: #f56600;
}

input[type="text"],
input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #046380;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    top: -10px;
}

    button:hover {
        background-color: #034F66;
    }

    button:active {
        background-color: #034154;
        box-shadow: none;
        top: -8px;
        left: 2px;
    }

#retrieve-button {
    margin-top: 20px;
}

#records {
    margin-top: 20px;
    text-align: left;
    color: #000;
}
