body {
   width: 100%;
   height: 100vh;
   text-align: center;
   background-color: #EFDBB2;
   color: #000000;
   margin: 0;
   padding: 0;}


#buttonContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   width: 100%;
   height: 100%;
   position: relative;

}

.sty {
   /*Class used to style buttons, sets their height ot 40px by 40px and their position to absolute so they can be manipulated*/
   width: 40px;
   height: 40px;
   position: absolute;
   border-radius: 15px;
}


button {
    height: 50px;
    width: 100px;
    background-color: #F56600;
    color: #FFFFFF;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

form {
   margin: 5px;
}

#boundaryContainer1 {
    position: relative;
    width: 300px;  
    height: 400px;  
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
    background-color: #ffcccc;
}

#boundaryContainer2 {
    position: relative;
    width: 400px;  
    height: 400px;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
    background-color: #ccffcc;
}

#boundaryContainer3 {
    position: relative;
    width: 800px;  
    height: 400px; 
    border: 2px solid black; 
    margin: 20px;
    display: inline-block;
    background-color: #ccccff;
}

#buttonContainer1, #buttonContainer2, #buttonContainer3 {
    position: absolute;
    width: 100%;
    height: 100%;
}