form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
}

input[type="submit"] {
    width: auto;
    background-color: #046380;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background-color: #034F66;
}
