/*
Jared Alvarado
CPSC 3750
07/13/24
Prog12: AJAX & PHP
*/

h1 {
    margin-top: 3%;
    font-size: 2.4em;
    font-weight: normal;
    display: inline-block;
}

button {
    background-color: #F56600;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    margin-left: 18px;
}

body {
    /*Body Style*/
    text-align: center;
    background-color: #EFDBB2;
    margin: 0;
    padding: 0;
    color: #F56600;

}

h2 {
    /*Header 2 color*/
    color: #F56600;
}

p {
    /*Paragraph color*/
    color: #F56600;
    font-size: larger;
}
ul {

    list-style-type: none;
    color: #F56600;
}
#results {

    width: 100%;
    height: 200px;
    overflow: auto;
}


#zipcodeSection{
    background-color: #d3c09b;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    width: 50%;
}


#distanceSection{
}