body {
  margin:0;
  padding:0;
  min-width: 525px;
  background-color: #f56600;
}

header {
  float: left;
  width: 100%;
}

.clemson-colors {
  background-color: #522D80;
  color: white;
}


footer {
  position:relative;
  float: left;
  width: 100%;
  background-color: #f56600;
  text-align:center;
  font-style: italic;
  padding: 10px;
  left: 25px;
}

#top_image {
  position: relative;
  left: 375px;
  margin-bottom: 15px;
}

#wrapper {
  float: left;
  padding-left: 200px;
  padding-right: 125px;
  overflow: hidden;  
  box-sizing: border-box;
}

/*Mission-Contact Us nav bar*/
#left_side { 
  position: relative;
  float: left;
  width: 150px;
  right: 180px;
  margin-left: -100%;
  margin-bottom: -2000px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;

}

/*Promo box*/
#right_side {
  position: relative;
  width: 300px;
  left: 145px;
  padding: 5px 0px 5px 10px;
  margin-bottom: 10px;
}

#content_area {
  position: relative;
  float: left;
  background-color: #FFF;
  width: 100%;
  padding: 15px 15px 5px 15px;
  margin-bottom: -2000px;
  padding-bottom: 2000px;
}

h1 {
  margin: 0;
}

#left_side ul {
  list-style-type: square;
  margin: 12px 0px 0px 12px;
  padding: 0px;
  color: white;
}

#left_side li a:link, #nav li a:visited {
  font-size: 12pt;
  font-weight: bold;
  padding: 3px 0px 3px 3px;
  color: #000000;
  text-decoration: none;
  display: block;
}

#left_side li a:hover, #nav li a:active {
  font-size: 12pt; 
  font-weight: bold;
  padding: 3px 0px 3px 3px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}
