body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f56600;
}

.clemson-colors {
    background-color: #522D80;
    color: white;
}

.w3-dropdown-hover .w3-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.w3-dropdown-hover .w3-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.w3-dropdown-hover .w3-button:hover {
    background-color: #3e8e41;
}

.w3-dropdown-hover .w3-dropdown-content .w3-dropdown-hover .w3-dropdown-content {
    left: 100%;
    top: 0;
}