/*Bryan Molina
Program 09
CPSC 3750
6/15/2024*/

body {
    font-family: Arial, sans-serif;
    background-color: #f56600;
    padding: 20px;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.form-buttons {
    margin-bottom: 20px;
}

    .form-buttons button {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #522D80;
        color: white;
        transition: background-color 0.3s ease;
    }

        .form-buttons button:hover {
            background-color: #45a049;
        }

        .form-buttons button:last-child {
            margin-right: 0;
        }

.card {
    display: inline-block;
    background-color: black;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: 250px;
    position: relative;
    transition: opacity 0.3s ease;
}

    .card hr {
        border: 0;
        border-top: 1px solid #eee;
        margin: 10px 0;
    }

.card-number {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #999;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
    font-size: 16px;
    background: none;
    border: none;
    padding: 0;
}

    .delete-btn:hover {
        color: darkred;
    }

#cardForm {
    border: groove;
    border-radius: 25px;
    margin: 20px 70px 20px 70px;
    padding: 20px 0px 10px;
    background-color: #522D80;
}