* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    background-color: #f56600;
    color: #333;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-weight: bold;
}

header {
    color: #334;
    padding: 10px 10px 5px 10px;
    margin: 0px 0px 0px 40px;
    text-align: center;
    font-size: 40px;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #FDA172;
}

footer {
    text-align: center;
    padding: 10px;
    background: #522D80;
    color: #fff;
    width: 100%;
}