body {
  font-family: Arial, sans-serif;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#wordToGuess {
  font-size: 24px;
  letter-spacing: 2px;
  margin: 10px 0px 20px;
}

#letters button {
	margin: 5px;
	padding: 10px;
	width: 40px;
}

#gallows01 {
	background-color: light-blue;
	font-size: 24px;
	margin-right: 10px;
}

#gallows02 {
	background-color: light-blue;
	font-size: 24px;
	margin-right: 10px;
}
#gallows03 {
	background-color: light-blue;
	font-size: 24px;
	margin-right: 10px;
}
